<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700;900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="blank-space">Home</div> 
    <nav class="navbar bg-dark">
        <div class="menu-toggle" id="mobile-menu" aria-label="Toggle navigation" tabindex="0">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="nav-list">
            <li><a class="nav-link text-white" href="{{ url_for('index') }}">Home</a></li>
            <li><a class="nav-link text-white" href="{{ url_for('team') }}">Meet The Team</a></li>
            <li>
                <li><a class="nav-link text-white" href="{{ url_for('deliverables') }}">Deliverables</a></li>
            </li>
            <div class="menu"><i class="fa-solid fa-bars"></i></div>
        </ul>
    </nav>
    <div class="image-index"><img src="{{ url_for('static', filename='images/Computer.jpg') }}" alt="Picture of a computer">
    <h2 class="landstyle">This is the homepage for our Final Project.</h2>
    <h2 class="landstyle">Please use the navigation bar at the top to be redirected.</h2>
</body>
</html>
